* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: grid;
  grid-template-columns: 50%  50%;
  background-color: aliceblue;
}

.leftnav {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-size: 2rem;
  justify-content:space-evenly;
  padding: 1rem;
  /* background-color: lightgray; */
}

.logo {
  width: 5rem;
  height: 5rem;
  background: transparent;
}

.links {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  align-items: center;
  list-style: none;
  margin-left: 10rem;
  column-gap: 1rem;
  color: rgb(99, 99, 184);
}

.links li a:focus {
  text-decoration: underline;
  color: green;

}
a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
}
